body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../res/xsi1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#careu {
    background: #020202;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;

    border-radius: 12px;
    border-style: groove;
    border-color: #ffd000;
    overflow: hidden;
}

.cell {
    background: #ffffff;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

    font-size: 80px;
    font: bold;
    cursor: pointer;
}

#end-screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #414141a9;
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
    
}
