body {
    font-family: 'Segoe UI', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#careu {
    background: #000000;
    height: 400px;
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    border-radius: 12px;
    border: 3px;
    border-style: solid;
    border-color: #000000;  
    box-shadow: 0px 0px 100px rgba(225, 255, 255, 0.6);
    overflow: hidden;
}

@media (max-width: 768px) {
  #careu {
    height: 80vw;
    width: 80vw;
  }
}

.cell {
    background: #ffffff;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

    font-size: 80px;
    font: bold;
    cursor: pointer;
}

#result {
    color: red;
    background-color: red;
    font-size: medium;
}

.bouncer {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  pointer-events: none;
  z-index: -1;
}

#scrolling-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;               
  height: 100%;
  background: url('../res/xsi0.png') repeat-x;
  background-size: auto 100%;
  z-index: -1;
  transform: translateX(0);
  will-change: transform;    
}

#blur {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #3939395e;
  backdrop-filter: blur(5px);
  z-index: 1;
  display: none;
}

#retry{
  color:  rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  gap: 10px;
  background: #1e1e1e;
  padding: 40px 40px 40px 20px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
  width: 315px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 15px rgb(255, 255, 255);
  z-index: 2;
  font-size: 24px;
}

#next_level{
  color:  rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  gap: 10px;
  background: #1e1e1e;
  padding: 40px 40px 40px 20px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
  width: 315px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 15px rgb(255, 255, 255);
  z-index: 2;
  font-size: 24px;
}

button {
  background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 0 #111, 0 6px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 0 #111, 0 8px 16px rgba(0, 0, 0, 0.4);
}


button:active {
  transform: translateY(4px) scale(0.96);
  box-shadow: 0 2px 0 #111, 0 2px 6px rgba(0, 0, 0, 0.3);
  background: linear-gradient(145deg, #1a1a1a, #0e0e0e);
}
