body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../res/xsi1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#careu {
    background: #020202;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;

    border-radius: 12px;
    border-style: groove;
    border-color: #ffd000;
    overflow: hidden;
}

.cell {
    background: #ffffff;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

    font-size: 80px;
    font: bold;
    cursor: pointer;
}

#selectX {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 600px;
    left: 500px;
    border-radius: 10px;
    font-size: 40px;
    font: bold;
    cursor: pointer;

}

#selectX:focus {
    background-color: gray;
}

#selectO {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 600px;
    right: 650px;
    border-radius: 10px;
    font-size: 40px;
    font: bold;
    cursor: pointer;
}

#selectO:focus {
    background-color: gray;
}


#reset {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 600px;
    right: 500px;
    border-radius: 10px;
    font-size: 40px;
    font: bold;
    cursor: pointer;
}

#reset:focus {
    background-color: gray;
}

#retry {
    position: absolute;
    color: aqua;
    height: 100px;
    width: 100px;

}
#end-screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #414141a9;
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
 
    
    
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

#modalButtons button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
