body {
    font-family: 'Segoe UI', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../res/xsi0alb.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

    border: 3px solid rgb(0, 0, 0);
    border-radius: 0;
    box-shadow: 0 0 25px rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#careu {
    background: #020202;
    height: 400px;
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;

    border-radius: 12px;
    border-style: groove;
    border-color: #000000;
    overflow: hidden;
}

@media (max-width: 768px) {
  #careu {
    height: 80vw;
    width: 80vw;
  }
}

.cell {
    background: #ffffff;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

    font-size: 80px;
    font: bold;
    cursor: pointer;
}

#end-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #414141a9;
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
}

.bouncer {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    color: #303030;
    pointer-events: none;
    z-index: -1;
}